.singlechat {
  background-color: var(--black);
  height: 100vh;
  background-image: url("../../assets/pxfuel.jpg");

  background-size:contain;
  background-position: center;

  // background-color: #18161f;
  // background-color: var(--black);
  .singlechat-box {
  }
}
