.chatbox-container {
  width: 100%;
  height: 100%;

  background-color: var(--dark-grey);
  .chatbox {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 8fr 1fr;
    .header {
      /*/height: 72px;*/
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10px;
      cursor: pointer;

      .header-nameTyping {
        display: flex;
        flex-direction: column;
      }

      .group-name {
        height: 100%;
        width: 100%;
      }

      .arrowIcon {
        display: none;
        @media only screen and (max-width: 740px) {
          display: block;
          margin-right: 15px;
        }
      }
      .header-pic {
        margin-right: 10px;
      }
    }

    .chat-section {
      background-image: url("../../assets/pxfuel.jpg");
      background-size: contain;
      background-position: center;
      display: flex;
      padding-inline: 5px;

      flex-direction: column;
      overflow-y: hidden;

      .messages {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
          width: 15px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #d6dee1;
          border-radius: 20px;
          border: 6px solid transparent;
          background-clip: content-box;
        }
      }
    }

    .input-section {
      background-color: var(--dark-grey);
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .input-text {
        width: 80%;
        padding-block: 10px;
        border-radius: 10px;
        background-color: var(--black);
        outline: none;
        color: white;
        padding-left: 10px;
        // border: 1px solid white;
        &:focus {
          outline: none;
        }
      }
      .icon {
        color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
