.chatbox-container {
  width: 100%;
  background-color: var(--dark-grey);
  .header {
    height: 72px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    cursor: pointer;
    .group-name {
      height: 100%;
      width: 100%;
    }
  }
}
