.search-container {
  display: flex;
  align-items: center;
  align-self: center;
  width: 80%;
  padding-block: 20px;

  .search {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #4a4e51;
    input {
      border: none;
      display: flex;
      // flex-grow: 1;
      background-color: var(--black);
      caret-color: #4a4e51;
    }
    input:focus {
      outline: none;
    }
  }
}
